<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/w3.css}">
<style>
body {font-family: "Raleway", sans-serif}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Seller Center</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a th:href="@{/register}" class="w3-bar-item w3-button">Register</a>
      <a th:href="@{/login}" class="w3-bar-item w3-button">Login</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:2000px;min-width:500px" id="home">
  <img class="w3-image" src="/images/main.jpeg" alt="main page" width="2000" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Charming Charlotte</h1>
  </div>
</header>


</body>
</html>
